.tile {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #090909
}

.destinations {
    width: 200px;
    height: 20px;
}

.add-destination-form {
    display: flex;
    /* Use flexbox for overall layout */
    flex-direction: column;
    /* Arrange elements vertically */
    gap: 3px;
    /* Add spacing between form groups */
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    /* Align label and input side-by-side */
    align-items: center;
    /* Vertically align label and input */
    margin-bottom: 0.1px;
    /* Add spacing between form-groups */
}

.name {
    width: 200px;
    height: 20px;
    margin-right: 10px;
}

.notes {
    width: 750px;
    height: 20px;
}

.submit {
    width: 100px;
}

label {
    margin-right: 0.1px;
    /* Add spacing between label and input */
    min-width: 125px;
    /* Ensure labels have enough space */
    font-weight: bold;
}

.delete-button {
    outline: none;

    /* Remove default gray background */
    background-color: transparent;

    /* Additional styling options (optional) */
    border: none;
    /* Remove any border */
    /* Set desired text color */
    cursor: pointer;
    /* Indicate clickability */
    font-weight: bold
}

.hotel-list {
    margin-top: -100px;
    /* Adjust the value as needed */
}